## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## VS / Rider
.vs/
.idea/
*.DotSettings.user

## User-specific
*.rsuser
*.env

## User-specific config
appsettings.Development.json

## OS
.DS_Store
Thumbs.db

## Misc
*.pdf
